body {
    background: #CECECE url("img/body.gif");
    background: url("img/tile.png") repeat-x -2% -230px,
		url("img/tile.png") repeat-x -4% 550px,
		url("img/body.gif") repeat -50% 0,
		#CECECE;
        color: #303030;
	font: normal 100%/1.5 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
}

main {
    margin: 36px auto;
    width: 960px;
}

header {
    margin: 0 auto 53px;
    background: #751910 url("img/blog-title-bg.jpg");
}
